{{template "base/head" .}}

<a href="/" class="ui basic mini right floated button">Back</a>
<h1>Chaos monkey</h1>

<p>
    Chaos monkey is {{.Chaos.State}}.
    {{if .Chaos.Active}}
        <a href="/chaos/pause" class="ui mini right floated button">Pause</a>
    {{else}}
        <a href="/chaos/resume" class="ui mini right floated button">Resume</a>
    {{end}}
</p>

<h2>Statistics</h2>

<table class="ui compact celled striped table">
    <thead>
    <tr>
        <th>Action</th>
        <th>Status</th>
        <th>Succeeded</th>
        <th>Failed</th>
        <th>Skipped</th>
    </tr>
    </thead>
{{ range $st := .Chaos.Actions }}
    <tr>
        <td>{{$st.Name}}</td>
        <td>
            {{if $st.Enabled}} 
                Enabled
                <a href="/chaos/{{$st.ID}}/disable" class="ui tiny right floated button">disable</a>
            {{else}}
                Disabled
                <a href="/chaos/{{$st.ID}}/enable" class="ui tiny right floated button">enable</a>
            {{end}}
        </td>
        <td>{{$st.Succeeded}}</td>
        <td>{{$st.Failed}}</td>
        <td>{{$st.Skipped}}</td>
    </tr>
{{ end }}
</table>

<h2>Recent chaos</h2>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Action</th>
    </tr>
    </thead>
{{ range $e := .Chaos.Events }}
    <tr>
        <td>{{$e.Time | formatTime}}</td>
        <td>{{$e.Action}}</td>
    </tr>
{{ end }}
</table>

{{template "base/footer" .}}