{{template "base/head" .}}

<a href="/" class="ui basic mini right floated button">Back</a>
<h1>Chaos monkey</h1>

<p>
    Chaos monkey is {{.Chaos.State}}.
    {{if .Chaos.Active}}
        <a href="/chaos/pause" class="ui mini right floated button">Pause</a>
    {{else}}
        <a href="/chaos/resume" class="ui mini right floated button">Resume</a>
    {{end}}
</p>
<form action="/chaos/level/" method="GET" onsubmit="this.action = this.action + this.level.value;">
  <label for="level">Chaos level:</label>
  <select name="level" id="level">
    <option value="0" {{if eq .Chaos.Level 0 }} selected {{end}}>0 = disable chaos</option>
    <option value="1" {{if eq .Chaos.Level 1 }} selected {{end}}>1 = restart processes gracefully</option>
    <option value="2" {{if eq .Chaos.Level 2 }} selected {{end}}>2 = 1 + kill processes</option>
    <option value="3" {{if eq .Chaos.Level 3 }} selected {{end}}>3 = 2 + add/remove/restart whole machines</option>
    <option value="4" {{if eq .Chaos.Level 4 }} selected {{end}}>4 = 3 + introduce network chaos</option>
  </select>
  <input type="submit" value="Set">
</form>

<h2>Statistics</h2>

<table class="ui compact celled striped table">
    <thead>
    <tr>
        <th>Action</th>
        <th>Status</th>
        <th>Succeeded</th>
        <th>Failed</th>
        <th>Skipped</th>
    </tr>
    </thead>
{{ range $st := .Chaos.Actions }}
    <tr>
        <td>{{$st.Name}}</td>
        <td>
            {{if $st.Enabled}} 
                Enabled
                <a href="/chaos/{{$st.ID}}/disable" class="ui tiny right floated button">disable</a>
            {{else}}
                Disabled
                <a href="/chaos/{{$st.ID}}/enable" class="ui tiny right floated button">enable</a>
            {{end}}
        </td>
        <td>{{$st.Succeeded}}</td>
        <td>{{$st.Failed}}</td>
        <td>{{$st.Skipped}}</td>
    </tr>
{{ end }}
</table>

<h2>Recent chaos</h2>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Action</th>
    </tr>
    </thead>
{{ range $e := .Chaos.Events }}
    <tr>
        <td>{{$e.Time | formatTime}}</td>
        <td>{{$e.Action}}</td>
    </tr>
{{ end }}
</table>

{{template "base/footer" .}}