{{template "base/head" .}}

<h1>Chaos monkey</h1>

<p>
    Chaos monkey is {{.Chaos.State}}.
    {{if .Chaos.Active}}
        <a href="/chaos/pause" class="ui mini right floated button">Pause</a>
    {{else}}
        <a href="/chaos/resume" class="ui mini right floated button">Resume</a>
    {{end}}
</p>

<h2>Statistics</h2>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>Statistic</th>
        <th>Value</th>
    </tr>
    </thead>
{{ range $st := .Chaos.Statistics }}
    <tr>
        <td>{{$st.Name}}</td>
        <td>{{$st.Value}}</td>
    </tr>
{{ end }}
</table>

<h2>Recent chaos</h2>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Action</th>
    </tr>
    </thead>
{{ range $e := .Chaos.Events }}
    <tr>
        <td>{{$e.Time}}</td>
        <td>{{$e.Action}}</td>
    </tr>
{{ end }}
</table>

{{template "base/footer" .}}