{{template "base/head" .}}

<h1>Welcome to TestAgent</h1>

<table class="ui collapsing very compact striped table">
    <thead>
    <tr>
        <td>ID</td>
        <td>{{.ID}}</td>
    </tr>
    <tr>
        <td>Up</td>
        <td>{{.Uptime}}</td>
    </tr>
    <tr>
        <td>Version</td>
        <td>{{.VersionInfo}}</td>
    </tr>
    <tr>
        <td>Arango image</td>
        <td>{{.ArangoImage}}</td>
    </tr>
</table>

<h2>Cluster</h2>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Created/Started</td>
        <th>Agent</th>
        <th>Coordinator</th>
        <th>DBServer</th>
    </tr>
    </thead>
{{ range $m := .Machines }}
    <tr>
        <td>
            {{$m.ID}}
            <a href="/logs/{{$m.ID}}/machine" title="Logs"><i class="file text outline icon"></i></a>
            <a href="/logs/{{$m.ID}}/network" title="Network logs"><i class="wifi icon"></i></a>
        </td>
        <td>
            {{$m.CreatedAt}}
            /
            {{$m.StartedAt}}
        </td>
        {{if $m.HasAgent}}
        <td class="{{ cssReady $m.LastAgentReadyStatus }}">
            <a href={{ $m.AgentURL }}>Agent</a>
            <a href="/logs/{{$m.ID}}/agent" title="Logs"><i class="file text outline icon"></i></a>
        </td>
        {{else}}
        <td>-</td>
        {{end}}
        <td class="{{ cssReady $m.LastCoordinatorReadyStatus }}">
            <a href={{ $m.CoordinatorURL }}>Coordinator</a>
            <a href="/logs/{{$m.ID}}/coordinator" title="Logs"><i class="file text outline icon"></i></a>
        </td>
        <td class="{{ cssReady $m.LastDBServerReadyStatus }}">
            <a href={{ $m.DBServerURL }}>DBServer</a>
            <a href="/logs/{{$m.ID}}/dbserver" title="Logs"><i class="file text outline icon"></i></a>
        </td>
    </tr>
{{ end }}
</table>

<h2>Tests</h2>

<table class="test ui celled striped table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Results</th>
        <th>Actions</th>
    </tr>
    </thead>
{{ range $t := .Tests }}
    <tr class="{{ cssTestOK $t.Failures }}">
        <td>
            <a href="test/{{$t.Name}}">{{$t.Name}}</a>
            <a href="test/{{$t.Name}}/logs">
                <i class="file text outline icon"></i>
            </a>
        </td>
        <td class="state">
            {{if $t.Active}}
                {{if $t.Pausing}}
                    Pausing...
                {{else}}
                    Running
                    <a href="/test/{{$t.Name}}/pause" class="ui tiny image label">
                        <i class="pause icon"></i>
                    </a>
                {{end}}
            {{else}}
                Paused
                <a href="/test/{{$t.Name}}/resume" class="ui tiny image label">
                    <i class="play icon"></i>
                </a>
            {{end}}
        </td>
        <td>{{$t.Failures}} failures</td>
        <td>{{$t.Actions}}</td>
    </tr>
{{ end }}
</table>

<h2>Failures</h2>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Test</th>
        <th>Message</th>
        <th>Report</th>
    </tr>
    </thead>
{{ range $r := .Reports }}
    <tr>
        <td>{{$r.Time}}</td>
        <td>{{$r.Test}}</td>
        <td>{{$r.Message}}</td>
        <td><a href="{{$r.HRef}}">{{$r.Path}}</a></td>
    </tr>
{{ end }}
</table>

<h2>Recent chaos</h2>
<p>
    Status: {{.Chaos.State}}
    {{if .Chaos.Active}}
        <a href="/chaos/pause" class="ui mini right floated button">Pause</a>
    {{else}}
        <a href="/chaos/resume" class="ui mini right floated button">Resume</a>
    {{end}}
    <br/>
    <a href="/chaos">Details</a>
</p>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Action</th>
    </tr>
    </thead>
{{ range $e := .Chaos.Events }}
    <tr>
        <td>{{$e.Time | formatTime}}</td>
        <td>{{$e.Action}}</td>
    </tr>
{{ end }}
</table>

{{template "base/footer" .}}