{{template "base/head" .}}

<h1>Welcome to TestAgent</h1>
<p>
ID: {{.ID}}
<br/>
Up: {{.Uptime}}
</p>

<h2>Cluster</h2>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Created/Started</td>
        <th>Agent</th>
        <th>Coordinator</th>
        <th>DBServer</th>
    </tr>
    </thead>
{{ range $m := .Machines }}
    <tr>
        <td>
            {{$m.ID}}
            <a href="/logs/{{$m.ID}}/machine" title="Logs"><i class="file text outline icon"></i></a>
        </td>
        <td>
            {{$m.CreatedAt}}
            /
            {{$m.StartedAt}}
        </td>
        {{if $m.HasAgent}}
        <td class="{{ cssReady $m.LastAgentReadyStatus }}">
            <a href={{ $m.AgentURL }}>Agent</a>
            <a href="/logs/{{$m.ID}}/agent" title="Logs"><i class="file text outline icon"></i></a>
        </td>
        {{else}}
        <td>-</td>
        {{end}}
        <td class="{{ cssReady $m.LastCoordinatorReadyStatus }}">
            <a href={{ $m.CoordinatorURL }}>Coordinator</a>
            <a href="/logs/{{$m.ID}}/coordinator" title="Logs"><i class="file text outline icon"></i></a>
        </td>
        <td class="{{ cssReady $m.LastDBServerReadyStatus }}">
            <a href={{ $m.DBServerURL }}>DBServer</a>
            <a href="/logs/{{$m.ID}}/dbserver" title="Logs"><i class="file text outline icon"></i></a>
        </td>
    </tr>
{{ end }}
</table>

<h2>Tests</h2>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>Name</th>
        <th>State</th>
    </tr>
    </thead>
{{ range $t := .Tests }}
    <tr>
        <td><a href="test/{{$t.Name}}">{{$t.Name}}</td>
        <td class="{{ cssTestOK $t.Failures }}">{{$t.Failures}} failures</td>
    </tr>
{{ end }}
</table>

<h2>Failures</h2>

<table class="ui celled striped table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Message</th>
        <th>Report</th>
    </tr>
    </thead>
{{ range $r := .Reports }}
    <tr>
        <td>{{$r.Time}}</td>
        <td>{{$r.Message}}</td>
        <td><a href="{{$r.HRef}}">{{$r.Path}}</a></td>
    </tr>
{{ end }}
</table>

<h2>Recent chaos</h2>
<p>
    Chaos monkey is {{.Chaos.State}}.
    {{if .Chaos.Active}}
        <a href="/chaos/pause" class="ui mini right floated button">Pause</a>
    {{else}}
        <a href="/chaos/resume" class="ui mini right floated button">Resume</a>
    {{end}}
</p>
<table class="ui celled striped table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Action</th>
    </tr>
    </thead>
{{ range $e := .Chaos.Events }}
    <tr>
        <td>{{$e.Time}}</td>
        <td>{{$e.Action}}</td>
    </tr>
{{ end }}
</table>

{{template "base/footer" .}}