.ready, .ready a { color: green; }
.notready, .notready a { color: orange; }

.testok { background-color: rgba(0,255,0,0.2) }
.testfailures { background-color: rgba(255,0,0,0.2) }

.counters .testok { color: green; background-color: inherit }
.counters .testfailures { color: red; background-color: inherit }
